
.menu-button {
    text-align: center;
    height: 100%;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #444;
}

.menu-button-icon {
    width: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    height: 100%
}

.navbar svg, .navbar svg * {
    width: 30px;
    height: 30px;
    padding: 10px;
    fill: #EEE;
}

.menu-button-text {
    display: inline-block;
    padding-right: 15px;
    vertical-align: top;
    height: 100%
}