
.side-panel-link {
    width: 100%;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    position: relative;
}

.side-panel-link:hover {
    background-color: #CCC;
    z-index: 10;
}

.side-panel-link.active {
    background-color: #EEE;
}

.side-panel-link-corner {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0px;
    background-color: #EEE;
    z-index: 5;
}

.side-panel-link-corner div {
    width: 10px;
    height: 10px;
    background-color: #DDD;
}

.side-panel-link-corner.top div{
    border-radius: 0 0 10px 0;
}

.side-panel-link-corner.bottom div{
    border-radius: 0 10px 0 0;
}

.side-panel-link-corner.top {
    top: -10px
}

.side-panel-link-corner.bottom {
    bottom: -10px
}

.side-panel-link-icon {
    width: 50px;
    display: inline-block;
    text-align: center;
    height: 100%;
    vertical-align: top;
}

.side-panel svg, .side-panel svg * {
    width: 30px;
    height: 30px;
    padding: 10px;
    fill: #444;
}

.side-panel-link-text {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}