
.side-panel-link {
    width: 100%;
    background-color: #DDD;
    color: #333;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

.side-panel-link:hover {
    background-color: #CCC;
}

.side-panel-link-icon {
    width: 50px;
    display: inline-block;
    text-align: center;
}

.side-panel-link-text {
    display: inline-block;
}