/* Section */
.resume-section {

}

.resume-section-header {
    padding: 20px;
    font-weight: bold;
    margin: 5px;
}

.resume-section-content {
}

/* Position */

.resume-position {
    text-align: left;
    margin: 10px;
    margin-top: 20px;
    position: relative;
}

.resume-position-header {
    position: relative;
    margin: 5px;
}

.resume-position-subheader {
    position: relative;
    font-style: italic;
    font-size: 18px;
    color: #555;
    margin: 5px;
}

.resume-position-header-company {
    display: inline-block;
    font-weight: bold;
}

.resume-position-header-title {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.resume-position-header-date {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.resume-position-header-location {

}

.resume-position-content {
    margin: 10px;
}

/* Detail */

.resume-detail {
    margin: 5px;
    font-size: 18px;
    position: relative;
    text-align: left;
}

.resume-detail-bullet {
    display: inline-block;
    width: 10px;
}

.resume-detail-content {
    display: inline-block;
}

.resume-detail-date {
    position: absolute;
    right: 10px;
    top: 0;
}