* {
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#app {
	background-color: #DDD;
}

#top {
	background-color: #444;
	text-align: right;
	width: 100%;
	height: 50px;
}

#left {
	width: 200px;
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 0px;
	background-color: #DDD;
}

#right {
	background-color: #EEE;
	text-align: center;
	position: absolute;
	top: 50px;
	left: 200px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}

#side-panel-header {
	text-align: center;
	padding: 15px;
}

#side-panel-info {
	text-align: center;
	position: relative;
	font-size: 16px;
	line-height: 20px;
	color: #555;
}

.side-panel-info-item {
	text-align: center;
    display: inline-block;
    width: 100%;
	height: 20px;
	margin-bottom: 10px;
}

.side-panel-info-item.name {
	font-weight: bold;
	font-size: 18px;
}

.side-panel-info-item.title {
	
}

.side-panel-info-item.location {
    font-style: italic;
}

.side-panel-info-item .info-icon {
	height: 16px;
    width: 16px;
    margin-right: 5px
}

#me {
	height: 150px;
    border-radius: 100px;
}