/* Page Section */

.page-section {
    margin-top: 15px;
}

.page-section p {
    font-size: 16px;
    max-width: 750px;
    margin: auto;
}

.page-section-header {

}

.page-section-content {
    padding: 5px;
    margin: 5px;
}

/* Primary Header */

.page-header {
    background: #555;
    
    padding: 10px;
    border-radius: 5px;

    font-weight: bold;
    color: white;
}

/* Primary Header */

.primary-header {
    background: #666;
    
    padding: 5px;
    border-radius: 5px;

    font-weight: bold;
    color: white;
}

/* Secondary Header */

.secondary-header {
    padding: 5px;
    border-radius: 5px;
    background-color: #DDD;
}

.secondary-header-icon {
    
}

.secondary-header-title {
    font-weight: bold;
}