/* Primary Header */

.primary-header {
    background: #888;
    
    padding: 5px;
    border-radius: 5px;

    font-weight: bold;
    color: #EEE;
}

/* Secondary Header */

.secondary-header {
    padding: 5px;
    border-radius: 5px;
    background-color: #DDD;
}

.secondary-header-icon {
    
}

.secondary-header-title {
    font-weight: bold;
}