.page-container {
    /* BACKGROUND_COLOR */
    background-color: white;
    
    text-align: center;

    overflow: auto;

    padding-bottom: 100px;
    
	position: absolute;
	left: 200px;
    right: 0;
    top: 0;
	bottom: 0;
}

.page-header {
    font-variant-caps: all-small-caps;
}


.page-content {
    margin: auto;
    max-width: 800px;
}