.album {
    margin-bottom: 50px;
}

.album-header {
    padding: 5px;
}

.album-title {
    font-weight: bold;
}

.album-title span {
    padding-left: 5px;
}

.album-link-container {
    height: 50px;
    margin: 10px;
}

.album-link-container svg {
    height: 35px;
    width: 35;
    margin-left: 10px;
    margin-right: 10px;
}

.album-link-container svg, .album-link-container svg * {
    fill: #444;
}

.album-content {

}

.album-art-container {
    display: inline-block;
}

.album-art {
    height: 250px;
    width: 250px;
}

.album-tracklist {
    display: inline-block;
    text-align: left;
    min-height: 250px;
    vertical-align: top;
    width: 300px;
    font-size: 16px;
}

.album-summary {
    font-style: italic;
    font-size: 18px;
    margin: 15px;
}

.album-track {
    position: relative;
}

.album-track-note {
    font-style: italic;
    font-size: 14px;
    padding-left: 5px;
    color: grey;
}